* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 6rem;
}

/* ----------------------------------lenis------------------------ */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* ---------------------------------------------------------- */


/* -------------------------Image Loading Animation--------------- */

canvas {
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

canvas.active {
    opacity: 1;
}

/* ----------------------------------------------------------- */