---
import Layout from "../layouts/Layout.astro";
// --------------------Fetching Data-------------------------
const response = await fetch(
  "https://eu-central-1-shared-euc1-02.cdn.hygraph.com/content/clhzrm4dw2zt701ut4w9p35b8/master",
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
          products {
			title
    		slug
    		mainImage
          }
        }
      `,
    }),
  }
);
const products = await response.json();

// -----------------------------------------------
---

<Layout title="Home">
  <main>
    <h1>Astro</h1>

    <a href="#bottom" id="top"><i>To Bottom</i></a>

    <ul>
      {
        products.data.products.map((product) => (
          <li>
            <img src={product.mainImage.url} alt={product.title} />
            <a href={`/products/${product.slug}`}>
              <h2>{product.title}</h2>
            </a>
          </li>
        ))
      }
    </ul>
    <a href="#top" id="bottom"><i>To Top</i></a>
  </main>
</Layout>

<style>
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50vh;
  }

  img {
    max-width: 50%;
  }
</style>

<script>
</script>
