---
---

<section>
  <h1>Paragraph Reveal</h1>

  <div class="wrapper">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
      ducimus nostrum tempore expedita ipsa fuga sapiente? Quo incidunt, rerum
      eveniet totam ut, libero ea numquam, eius doloribus et quasi laboriosam
      cum possimus delectus quod quibusdam tempore neque minima iste veritatis.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
      ducimus nostrum tempore expedita ipsa fuga sapiente? Quo incidunt, rerum
      eveniet totam ut, libero ea numquam, eius doloribus et quasi laboriosam
      cum possimus delectus quod quibusdam tempore neque minima iste veritatis.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
      ducimus nostrum tempore expedita ipsa fuga sapiente? Quo incidunt, rerum
      eveniet totam ut, libero ea numquam, eius doloribus et quasi laboriosam
      cum possimus delectus quod quibusdam tempore neque minima iste veritatis.
    </p>
  </div>
</section>

<style>
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 4rem 0;
    background-color: #11584f;
    padding: 1rem;
  }
  p {
    position: relative;
    width: 75%;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin: 2rem 0 2rem 0;
  }

 span{
    opacity: 0.1;
 }
</style>

<script>
    let paragraphs = [...document.querySelectorAll('p')];
    let spans =[];

    paragraphs.forEach(paragraph => {
        let htmlString = '';
        let pArray = paragraph.textContent.split('');
        for(let i = 0; i < pArray.length; i++){
            htmlString += `<span>${pArray[i]}</span>`;
        }
        paragraph.innerHTML = htmlString;
    })

    spans = [...document.querySelectorAll('span')];

    function revealSpans() {
        for(let i = 0; spans.length; i++) {
            if(spans[i].parentElement.getBoundingClientReact().top < window.innerHeight / 2) {
                let {left, top} = spans[i].getBoundingClientReact();
                top = top - (window.innerHeight * 0.4)
                let opacityValue = 1 - ((top * 0.01) + (left * 0.001)) < 0.1 ? 0.1 : 1 - ((top * 0.01) + (left * 0.001)).toFixed(3);
                opacityValue = opacityValue > 1 ? 1 : opacityValue.toFixed(3)
            }
        }
    }

    revealSpans();
</script>
